.header {
   display: flex;
   /* background: #5b7891; */
   /* background: #5b7191; */
   background: #4f5b6e;
   /* background: rgb(87, 74, 66); */
   /* background: rgb(87, 74, 66); */
   align-items: center;
   height: 7.6rem;
   font-size: 2.2rem;
   font-weight: 600;
}

.rightItems, .leftItem {
   font-weight: bold;
   color: rgb(73, 62, 55);
   /* color: rgb(87, 74, 66); */
   /* color: #a83e00; */

}

.rightItems {
   flex: 1;
   text-align: right;
   padding-right: 6rem;
}

.leftItem {
   flex: 6;
   text-align: left;
   padding-left: 6rem;
}

.loginRegBox, .itemBox {
   height: 6.6rem;
   margin-left: 5.4rem;
}

.rightItems:hover, .leftItem:hover {
   font-weight: bold;
   /* color: #873600; */
   color: #412210;
   cursor: pointer;
}

.itemBox, .homeBox {
   padding-top: 1.6rem;
}

.homeBox {
   height: 6.6rem;
   /* margin-left: 0; */
   width: 10.4rem;
}

/* .currentPg {
   border-bottom: .3rem solid #222;
   font-weight: bold;
   color: #873600;
} */

.currentPg {
   display: inline-block;
   text-align: center;
   border-bottom: .4rem solid #222;
   /* border-bottom: 1px solid red; */
   height: 100%;
   /* padding-left: 1.4rem; */
   color: #412210;
   /* color: #873600; */
   font-weight: bold;
}