.trailsView {
   display: flex;
   justify-content: space-evenly;
   background: #222;
   height: 20rem;
   align-items: center;
   /* width: 156rem; */
   width: 90vw;
   margin: 8rem auto;
   border-radius: .6rem;
   border: 2px solid black;
}

.trailItem {
   /* background: #ddd; */
   /* background: url('../../images/pexels-photo-1578750.jpeg'); */
   border: 2px solid black;
   display: inline-block;
   height: 18rem;
   flex: 13;
   margin: auto .6rem;
   color: #ebebeb;
}

.outerSection {
   display: inline-block;
   flex: 2;
   text-align: center;
   font-size: 6.5rem;
   color: rgb(240, 205, 10);
}

.grayedOut {
   color: rgb(209, 187, 125);
}